apiVersion: v1
kind: Service
metadata:
  name: main
  labels:
    app: main
spec:
  ports:
  - name: https
    port: 5050
  selector:
    app: main

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: main
spec:
  selector:
    matchLabels:
      app: main
  replicas: 1   
  template:
    metadata:
      labels:
        app: main
    spec:
      containers:
        - image: sapkyma/qresponse1
          name: main
          ports:
          - containerPort: 5050
